<div class = "signup">
	
<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>
  <div class="form">
    <br/>
	  <div class ="name">
		<%= f.label :name %>
		<area><%= f.text_field :name, autofocus:true, :class => "inputs" %></area>
	  </div>

	  <div class="field">
		<%= f.label :email %>
		<area><%= f.email_field :email, autofocus: true, autocomplete: "email", :class => "inputs" %></area>
	  </div>

	  <div class="field">
		<%= f.label :password %>
		<% if @minimum_password_length %>
		<em>(<%= @minimum_password_length %> characters minimum)</em>
		<% end %><br />
		<area><%= f.password_field :password, autocomplete: "new-password", :class => "inputs" %></area>
	  </div>

	  <div class="field">
		<%= f.label :password_confirmation %>
		<area><%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "inputs" %></area>
	  </div>

	  <div class="actions">
		<%= f.submit "Sign up", :class => "buttons" %>
	  </div>
  </div>
<% end %>

<%= render "devise/shared/links" %>
</div>