<% if (current_user && current_user.admin) || @users.size <= 1 %> 
<h2>Inventory</h2>
<div class="items-table-container">
  <div class="items-table items-header">
    <div class="item-row first">ID</div>
    <div class="item-row">Item</div>
    <div class="item-row">Description</div>
    <div class="item-row">Price</div>
    <div class="item-row">Category</div>
    <div class="item-row">Stock</div>
    <div class="item-row">Update</div>
  </div>
  
  <% @items.each do |item| %>
  <div class="items-table row">
      <div class="item-row first"><%= link_to item.id, item %></div>
      <div class="item-row"><%= image_tag item.image_url, :style =>"height:80px" %> <%= link_to item.title, item %></div>
      <div class="item-row"><%= item.description %></div>
      <div class="item-row"><%= item.price %></div>
      <div class="item-row"><%= item.category %></div>
      <div class="item-row"><%= item.stock %></div>
      <div class="item-row"><%= link_to 'Edit', edit_item_path(item), :class => "btn edit" %> <%= link_to 'Destroy', item, method: :delete, :class => "btn destroy", data: { confirm: 'Are you sure?' } %></div>
  </div>
  <% end %>

</div>


<% else %>
  <p>Unauthorized User</p>
  <%= link_to "Go to ScootieShop's Homepage", root_path %>
<% end %>
