<% if (current_user && current_user.admin) || @users.size <= 1 %> 

<h2>Users</h2>

<div class="items-table-container">
  <div class="items-table items-header">
      <div class="item-row first">User ID</div>
      <div class="item-row">Name</div>
      <div class="item-row">Email</div>
      <div class="item-row">Created At</div>
      <div class="item-row">Updated At</div>
      <div class="item-row">Admin Status</div>
      <div class="item-row">Upgrade to Admin</div>
  </div>
  
  <% @users.each do |user| %>
  <div class="items-table row">
        <div class="item-row first"><%= user.id %></div>
        <div class="item-row"><%= user.name %></div>
        <div class="item-row"><%= user.email %></div>
        <div class="item-row"><%= user.created_at %></div>
        <div class="item-row"><%= user.updated_at %></div>
        <% if user.admin %>
            <div class="item-row admin-label">Admin</div>
            <div class="item-row"><%= link_to "Downgrade to User", {controller: "admin", action: "downgrade_admin", id: user.id}, :class => "btn edit" %></div>
        <% else %>
            <div class="item-row">User</div>
            <div class="item-row"><%= link_to "Upgrade to Admin", {controller: "admin", action: "upgrade_admin", id: user.id}, :class => "btn destroy" %></div>
        <% end %>
  </div>
  <% end %>
</div>
<% else %>
  <p>Unauthorized User</p>
  <%= link_to "Go to ScootieShop's Homepage", root_path %>
<% end %>
