<p id="notice"><%= notice %></p>


<h2>Orders</h2>

<div class="items-table-container" style="max-width: 710px">
  <div class="items-table items-header">
      <div class="item-row" style="width: 250px">Order Date</div>
      <div class="item-row">User</div>
      <div class="item-row">Status</div>
      <div class="item-row" style="width: 160px">Show Order</div>
  </div>
  
  <% @orders.each do |order| %>
  <div class="items-table row">
        <div class="item-row" style="width: 250px"><%= order.order_date %></div>
        <div class="item-row"><%= order.user.name %></div>
        <div class="item-row"><%= order.status %></div>
        <div class="item-row btn"><%= link_to 'Show', order %></div>
  </div>
  <% end %>
</div>
