<div id="itemsContainer">

    <p id="notice"><%= notice %></p>
    <h2>Order Details</h2>
    
    

    
    
    <% if @order.user.email == @user.email %>
    
    <div class="items-table-container" style="max-width: 800px">
        <div class="items-table items-header">
          <div class="item-row" style="width: 300px">Order Date</div>
          <div class="item-row" style="width: 200px">Ordered By</div>
          <div class="item-row">Status</div>
          <div class="item-row">Edit Order</div>
        </div>
      
        <div class="items-table row">
            <div class="item-row" style="width: 300px"><%= @order.order_date %></div>
            <div class="item-row" style="width: 200px"><%= @order.user %></div>
            <div class="item-row"><%= @order.status %></div>
            <div class="item-row btn" style="width: 139px"><%= link_to 'Edit', edit_order_path(@order), :class =>"button" %></div>
        </div>
      
    </div>
    
    <table id="customers">
      
      <tr>
        <td></td>
            
      </tr>
      </table>
    
    <h2>Order Items</h2>
    
    <div class="items-table-container" style="max-width: 470px">
      <div class="items-table items-header">
          <div class="item-row" style="width: 70px">Order Id</div>
          <div class="item-row" style="width: 250px">Order Date</div>
          <div class="item-row">Title</div>
      </div>
      
      <% @orderitems.each do |orderitem| %>
      <div class="items-table row">
            <div class="item-row" style="width: 70px"><%= orderitem.order_id %></div>
            <div class="item-row" style="width: 250px"><%= orderitem.created_at %></div>
            <div class="item-row"><%= orderitem.title %></div>
      </div>
      <% end %>
    </div>
    
    <% else %>
    <h3>You did not place this order</h3>
    <% end %>
    
    <div class="order-btn">
       <%= link_to 'Back', orders_path, :class =>"button" %>
    </div>
</div>
