<p id="notice"><%= notice %></p>

<h2>Products</h2>


<div class="card-container">
<% @items.each do |item| %>
  <div class="card">
    <%= link_to (image_tag item.image_url, :class => "img-item"), item %>
    <hr />
    <div class="container-card-text">
      <h4><b><%= item.title %></b></h4>
      <p><%= item.description %></p>
      <p><%= item.category %></p>
      <p>Price <%= number_to_currency(item.price, :unit => "€") %></p>
      <p>In Stock: <%= item.stock %></p>
    </div>
     
    <div class="card-btns"> 
      <a href="/cart/<%= item.id %>" class="btn">Add To Cart</a>
      <%= link_to 'Show', item, {:class => "btn"} %>
      <% if session[:login] == 1 %>   
        <%= link_to 'Edit', edit_item_path(item), {:class => "btn"} %>
        <%= link_to 'Destroy', item, method: :delete, :class => "btn", data: { confirm: 'Are you sure?' } %>
      <% end %>
    </div>
  </div>
<% end %>
</div>

<br>

<%= link_to 'New Product', new_item_path %>