<%= form_with(model: category, local: true) do |form| %>
  <div class="field">
    <label><%= form.label :title %></label>
    <area><%= form.text_field :title, :class => "inputs" %></area>
  </div>

  <div class="field">
    <label><%= form.label :description %></label>
    <area><%= form.text_area :description, :class => "inputs" %></area>
  </div>

  <div class="field">
    <label><%= form.label :image %></label>
    <area><%= form.text_field :image, :class => "inputs" %></area>
  </div>

  <div class="actions">
    <%= form.submit :class => "buttons"%>
  </div>
<% end %>