<p id="notice"><%= notice %></p>

<h2>All Categories</h2>
<div class = "categories">
  <div class="items-table-container">
    <div class="items-table items-header">
        <div class="item-row first">Title</div>
        <div class="item-row">Image</div>
        <div class="item-row">Description</div>
        <div class="item-row">Update</div>
    </div>
  
      <% @categories.each do |category| %>
      <div class="items-table row">
          <div class="item-row first"><%= category.title %></div>
          <div class="item-row"><%= image_tag category.image, :style => "height:80px" %></div>
          <div class="item-row"><%= category.description %></div>
          <div class="item-row"><%= link_to 'Show', category, :class => "btn edit" %>
          <%= link_to 'Edit', edit_category_path(category), :class => "btn edit" %>
          <%= link_to 'Destroy', category, method: :delete, :class => "btn destroy", data: { confirm: 'Are you sure?' } %></div>
      </div>
      <% end %>
  </div>
</div>

<br>

<%= link_to 'Create Category', new_category_path, :class => "buttons" %>



