<p id="notice"><%= notice %></p>

<div class = "showcategory">
  <h2>
    <%= @category.title %>
  </h2>

  <p>
    <%= image_tag(@category.image) %>
  </p>
  
  
  <p>
    <%= @category.description %>
  </p>
</div>

<%= link_to 'Edit', edit_category_path(@category), :class => "buttons" %> 
<%= link_to 'Back', categories_path, :class => "buttons"%>
