<p id="notice"><%= notice %></p>

<div class = "showcategory">
  <p>
    <strong>Title:</strong>
    <%= @category.title %>
  </p>

  <p>
    <strong>Description:</strong>
    <%= @category.description %>
  </p>

  <p>
    <strong>Image:</strong>
    <%= @category.image %>
  </p>
</div>

<%= link_to 'Edit', edit_category_path(@category), :class => "btn edit" %> 
<br />
<%= link_to 'Back', categories_path, :class => "buttons"%>
