<h2>Categories</h2>

<% @categories.each do | category| %>
    <div class="category">
           <p><%= category.title %></p>
            <p><%= category.description %></p>
           <%= image_tag(category.image, :class => "img-item") %>
           <p><a href="/category/<%= category.title %>" class="buttons"><%= category.title %></a></p>
    </div>
<% end %>

