   <header class = "header">
      <h1><%= link_to "ScootieShop", "/" %></h1>

      <div class="topnav" id="myTopnav">
        <%= link_to "ScootieShop", "/"%>
        <%= link_to "Cart", "/cart" %>
        <% if user_signed_in? %>
          <%= link_to 'Edit Profile', edit_user_registration_path %>
          <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
          <%= link_to "View Orders", "/orders"  %>
        <% else %>
          <%= link_to 'Register', new_user_registration_path %>
          <%= link_to 'Sign in', new_user_session_path %>
        <% end %>
        <% if current_user && current_user.admin %>
            <% if session[:login] == 1 %> 
              <%= link_to "Admin Log Out", "/logout" %>
              <%= link_to "Manage Users", admin_path %>
              <%= link_to "Manage Inventory", admin_inventory_path %>

            <% else %>
              <%= link_to "Admin Log In", "/login" %>
            <% end %>
        <% end %>
        
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>

    </header>