<!DOCTYPE html>
<html>
  <head>
    <title>ScootieShop</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="//stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  </head>

  <body>
    <header>
      <h1><%= link_to "ScootieShop", "/" %></h1>

      <div class="topnav" id="myTopnav">
        <%= link_to "ScootieShop", "/"%>
        <%= link_to "Cart", "/cart" %>
        <% if user_signed_in? %>
          <%= link_to 'Edit Profile', edit_user_registration_path %>
          <%= link_to 'Sign out', destroy_user_session_path, :method => :delete %>
          <%= link_to "View Orders", "/orders"  %>
        <% else %>
          <%= link_to 'Register', new_user_registration_path %>
          <%= link_to 'Sign in', new_user_session_path %>
        <% end %>
        <% if session[:login] == 1 %> 
          <%= link_to "Admin Log Out", "/logout" %>       
        <% else %>
          <%= link_to "Admin Log In", "/login" %>
        <% end %>
        
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
          <i class="fa fa-bars"></i>
        </a>
      </div>

    </header>
    <div clas="containe-yield">
      <%= yield %>
    </div>
    <footer>This is footer</footer>
    
<script>
    function myFunction() {
      var x = document.getElementById("myTopnav");
      if (x.className === "topnav") {
        x.className += " responsive";
      } else {
        x.className = "topnav";
      }
    }
</script>
  </body>
</html>
